-unless status.nil? or status.user_status.nil?
  / %div{:class => "#{previous_time < status.user_status.updated_at ? 'user_status_changed' : 'user_status'}"}
  %div{:class => "user_status"}
    .user_name
      = link_to "#{status.full_name} (#{status.login})" , profile_url(status.login)
      %a{:href=>"mailto:#{status.email}"}
        %img{:src => "/images/email.png", :title=>"Send them an email"}
    .user_task
      = user_task_snippet(status)
    .user_project
      - unless status.user_status.active_project.nil?
        = status.user_status.active_project.name
      - else
        = "No project set"
    - unless status.user_status.percent_complete.nil?
      .user_percent_complete
        .bar_wrapper
          %div{:id => "progress_bar_"+status.id.to_s}
        = number_to_percentage(status.user_status.percent_complete.to_i, :precision => 0)
    .user_estimated_completion
      - unless status.user_status.estimated_completion.nil?
        = due_date(status)
      -else
        = "No due date"
%script
  = "$(function() {  $('#progress_bar_#{status.id.to_s}').progressbar({  value: #{status.user_status.percent_complete}  });  });"