= content_for :unobtrusive_javascript do
  %script{ 'type' => "text/javascript", :src   => "/javascripts/teams.js" }
  
%h1
  = link_to(h(@team.name.capitalize), @team)
  
#change_team_name
  - form_for @team do |f|
    = f.error_messages
    = f.label :name, "Team Name"
    = f.text_field :name
    = f.submit "Change Name", :disable_with => 'Changing Name...'

#members
  %h2 Members
  = render :partial => 'memberships/members_list', :locals => {:team => @team}

  -if current_user and current_user.owned_teams.include?(@team)
    Invite a new member
    - form_tag({:action => "create", :controller => "memberships"}, :id => "new_member") do
      = label_tag "email"
      = text_field_tag "email"
      = hidden_field_tag "team_id", @team.id
      = submit_tag "Invite"

-if current_user and current_user.owned_teams.include?(@team)
  #projects
    %h2 Projects
    = render :partial => "projects/project_list", :locals => {:team => @team}
    
    Add a new project
    - form_for [@team, @new_project] do |f|
      = f.error_messages
      = f.label :name, "Name"
      = f.text_field :name
      = f.submit "Add Project"

