%h1
  = @team.name
  
- form_for @team do |f|
  = f.error_messages
  = f.label :name, "Name"
  = f.text_field :name
  = f.submit "Change Name", :disable_with => 'Changing Name...'

%h2 Projects

- @team.projects.each do | project|
  = project.name

= link_to "Add Project", new_team_project_path(@team)

