%ul
  %li.login
    = form.label :login
    = form.text_field :login
  %li.email
    = form.label :email
    = form.text_field :email
  %li.first_name
    = form.label :first_name
    = form.text_field :first_name
  %li.last_name
    = form.label :last_name
    = form.text_field :last_name
  %li.password
    = form.label :password, form.object.new_record? ? nil : "Change password"
    = form.password_field :password
  %li.password_confirmation
    = form.label :password_confirmation
    = form.password_field :password_confirmation
  %br