- if current_user.nil? == false and current_user.login == @user.login
  #status_update
    %h3 Update your status
    - form_for @user do |f|
      = f.label :current_task, "Current Task"
      = text_field :user, :current_task
      %br
      - if  @user.all_teams.count > 0 
        = f.label :project_id
        = f.collection_select :project_id, @user.projects, :id, :name, {:include_blank => true}
      %br
      = f.label :percent_complete, "Percent Complete"
      #progress_slider
      = text_field :user, :percent_complete, :id => :percent_complete, :value => @user.percent_complete.to_i.to_s
      %br
      = f.label :estimated_completion, "Due"
      = text_field :user, :estimated_completion, :value => due_date(@user)#.estimated_completion.nil? ? "" : @user.estimated_completion.strftime("%m/%d/%Y") 
      %br
      .submit
        = f.submit "Update", :disable_with => 'Updating Status...'  