#logo
  %img{:alt=>"busywith.com", :src=>"/images/busywith_logo_small.png"}

#intro
  %p
    Great! Just fill in your details here and we'll get you all set up with a new account in no time!
  %p.subtitle
    Once you're signed up you'll be able to add the rest of your team and start to see what everyone is doing.  
#signup
  .subtitle
    Please use one of the two ways below of creating an account.
  #rpx_form
    = rpx_embed( :app_name => "busywith", :return_url => user_sessions_url )
  #signup_form
    - form_for @user do |f|
      = f.error_messages
      %fieldset.signup  
        = render :partial => "form", :object => f
        .submit
          = image_submit_tag "/images/button_form_sign_up.png", :alt => "Sign up!", :class => "image_button"    
  .terms
    By signing up to busywith you're agreeing to our
    = link_to "Terms & Conditions", terms_url

