= content_for :unobtrusive_javascript do
  %script{ 'type' => "text/javascript", :src   => "/javascripts/users.js" }
  

#owner_name
  - unless current_user == @user
    This is the account page for
    = @user.login


= render :partial => 'user_form'


= render :partial => "history", :locals => {:user => @user}


- unless @user.invites.count == 0
  #invites
    %h2 Invitations
    %ul
      - @user.invites.each do |invite|
        %li
          = invite.team.name
          = link_to "Accept", :controller => "memberships", :action => "accept", :membership_id => invite, :class => "accept_membership"
          = link_to "Ignore", :controller => "memberships", :action => "delete", :membership_id => invite, :class => "remove_membership"

#owned_teams
  - if current_user == @user
    %h2= "Teams that you own"
  - else
    %h2
      = "Teams that #{@user.login} owns"

  - unless @user.owned_teams.count == 0
    %ul
      - @user.owned_teams.each  do |team| 
        %li
          = link_to team.name, team
          = link_to "Delete Team", (team_path team), :method => "delete", :class => "remove_membership" unless current_user != @user
  - else
    - if current_user == @user
      = "You're not an administrator of any teams"
    - else
      = "This user is is not an administrator of any teams"
    %br
  = link_to "Create a new team", new_team_url unless current_user != @user

- unless @user.memberships.count == 0
  #memberships
    - if current_user == @user
      %h2= "Teams that you are a member of"
    - else
      %h2
        = "Teams that #{@user.login} is a member of"  
    %ul
      - @user.memberships.each  do |membership|
        %li
          = link_to membership.team.name, team_url(membership.team)
          &nbsp;
          - unless membership.is_administrator
            = link_to "Remove", {:controller => "memberships", :action => "delete", :membership_id => membership}, :class => "remove_membership"    
