This is the account page for
= @user.login

- if current_user.nil? == false and current_user.login == @user.login
  = "Update your status"
  - form_for @user do |f|
    = f.label :current_task, "Current Task"
    = text_field :user, :current_task
    - if  @user.teams.count > 0 
      = f.label :project_id
      = f.collection_select :project_id, @user.projects, :id, :name
    = f.submit "Update", :disable_with => 'Updating Status...'  
    
%h2 Teams
- unless @user.teams.count == 0
  - @user.teams.each  do |team|
    = team.name
    = link_to "Delete Team", (team_path team), :method => "delete"
- else
  = "This user is not a member of any teams"

  
  