-unless status.nil?
  .user_status
    .user_name
      = link_to status.login, profile_url(status.login)
    .user_task
      = status.current_task
    .user_project
      - unless status.active_project.nil?
        = status.active_project.name
      - else
        = "No project chosen"
    - unless status.percent_complete.nil?
      .user_percent_complete
        %img{:class => "percentImage", :src => "/images/percentImage.png", :alt => "#{status.percent_complete}", :style => "background-position: -#{((123/100)*(100-(status.percent_complete)))}px 0pt"}
        = number_to_percentage(status.percent_complete.to_i, :precision => 0)