!!!
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= "Busywith.com - What's my team doing?!"
    = stylesheet_link_tag 'compiled/welcome.css'
    = stylesheet_link_tag 'compiled/jquery.lightbox-0.5.css'
    %script{:src => 'http://www.google.com/jsapi?key=ABQIAAAA9PVdi6OTkajQVyMoI3hv6RTPte5IkMv6YO0Qn70prbC3lXMUQBSnG8VdqcEiCOJ23nYjwHx_iJb9uQ'}
    %script{:src => 'http://www.google.com/jsapi?key=ABQIAAAA9PVdi6OTkajQVyMoI3hv6RREih2AnShy9hMJC_8gVX6vDz0I5xS14rYAFBQxUz6VT_bvcheaFWP6ZQ'}  
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    %meta{'name' => "verify-v1", :content => '5sD8T61OQDV7PQnROBLbTZoU8iqV3+96sC+RruHOOJc='}

  %body{:class => body_class}  
    #wrapper
      #navbar_container
        #navbar
          %ul
            %li.busywith
              = link_to "Busywith.com", root_url
            %li.blog
              = link_to "blog", "http://blog.busywith.com"
            %li.contact_us
              = link_to "contact us", contact_us_url            
      #headlines
        %h1 Extremely Simple Project Management
        %h2 Busywith lets you keep track of your team

      = yield

    #footer
      %p{:id=>"footer_links"}
        = link_to "Contact Us", :contact_us
        |
        = link_to "Blog", "http://blog.busywith.com"
        |
        = link_to "Terms & Conditions", :terms
      %p{:id=>"copyright"}
        (C) Copyright 2009-2010
        =link_to "Plasticwater LTD", "http://plasticwater.com"        


    = javascript_tag "google.load('jquery', '1.4.0');"
    = javascript_tag "google.load('jqueryui', '1.7.2');"    
    = javascript_include_tag 'jquery-color'
    = javascript_include_tag 'jquery.lightbox-0.5.pack'
    = javascript_include_tag 'application'
    <!--[if lt IE 7]>
    = javascript_include_tag "unitpngfix"
    <![endif]-->  
    = yield :unobtrusive_javascript  